@using FlashApp.BLL.Models;
@using FlashApp.Api.ViewComponents;
@model IEnumerable<ChatModel>?;
<link href="~/css/ChatViewComponents_Default.css" rel="stylesheet" />

<div class="sidebar">
    @if (Model != null && Model.Any())
    {
        <div class="chat-list">
            @foreach (var chat in Model)
            {
                
                <div class="chat-item">
                    <a href="/chat/@chat.Id">
                        @* print last messege and username *@
                        Send mess
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        <p class="no-data-message">So quite...</p>
    }
</div>