@using FlashApp.BLL.Models;
@using FlashApp.Api.ViewComponents;
@model IEnumerable<ChatModel>?;
<link href="~/css/ChatViewComponents_Default.css" rel="stylesheet" />

<div class="left-panel">
    @if (Model != null && Model.Any())
    {
        <div class="chat-item">
            @foreach (var chat in Model)
            {
                string? sender  = chat.users.FirstOrDefault(x => x.Id == chat.messages?.FirstOrDefault()?.User_id)?.Username;
                string? messege = chat.messages?.FirstOrDefault()?.Content;
                <form method="get" action="/chat/@chat.Id">
                    <button type="submit" class="chat-button">
                        @if (sender !=null && messege != null)
                        {
                            @sender
                            @messege
                        }
                        else
                        {
                            <p>Send Message</p>
                        }
                    </button>
                </form>
            }
        </div>
    }
    else
    {
        <p class="no-data-message">So quite...</p>
    }
</div>