@using FlashApp.Api.ViewComponents;
<!DOCTYPE html>
<style>
    body {
        display: block;
        margin: 0px;
    }
    .top{
        margin-top:45px;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    @await Html.PartialAsync("_TopPanel")

    <div class="top">
        @await Component.InvokeAsync("ChatsViewComponents")
        @RenderBody()
    </div>

</body>
</html>

<script>
    function redirectToProfile() {
        const username = document.getElementById('usernameInput').value;
        const url = `https://localhost:7270/profile/${username}`;
        window.location.href = url;
    }
</script>