@using FlashApp.Api.ViewComponents;
<!DOCTYPE html>
<style>
    .SomeClass{
        margin-left: 20%;
    }
    body {
        display: block;
        margin: 0px;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @await Html.PartialAsync("_TopPanel")
    <div>
        @await Component.InvokeAsync("ChatsViewComponents")
    </div>
    <div class="SomeClass">
        @RenderBody()
    </div>
</body>
</html>

<script>
    function redirectToProfile() {
        const username = document.getElementById('usernameInput').value;
        const url = `https://localhost:7270/profile/${username}`;
        window.location.href = url;
    }
</script>