<link href="~/css/Top_panel.css" rel="stylesheet" />

<div class="top-panel">
    <div class="search-form">
        <form method="get" action="https://localhost:7270/profile/">
            <input type="text" id="usernameInput" name="username" placeholder="Enter username" />
            <button type="button" onclick="redirectToProfile()">Find Profile</button>
        </form>
    </div>
    <div class="user-actions">
        <a href="~/profile">Profile</a>
        <button id="logoutButton">Log Out</button>

    </div>
</div>
<script>
    document.getElementById("logoutButton").addEventListener("click", function () {
        fetch("/logout", { method: "POST" })
            .then(response => {
                if (response.status === 200) {
                    window.location.href = "https://localhost:7270/";
                }
            });
    });
</script>