<link href="~/css/Index.css" rel="stylesheet" />

<div class="container">
    <div class="welcome-text">Welcome to FlashApp, to continue you need:</div>
    <div class="btn-container">
        <a href="https://localhost:7270/login" class="btn">Sign in</a>
        <a href="https://localhost:7270/register" class="btn">Sign up</a>
    </div>
</div>
