@model FlashApp.BLL.Models.ChatModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .chat-container {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        border: 0px;
        margin-left: 20%;
    }   
    .messages {
        flex-grow: 1; /* Занимать всю доступную высоту */
        overflow-y: auto; /* Включить вертикальную прокрутку, если сообщений много */
        padding: 10px; /* Внутренний отступ контейнера сообщений */
        display: flex; /* Использование Flexbox для выравнивания сообщений */
        flex-direction: column; /* Основная ориентация - вертикальная */
    }
    .message-text {
        margin: 0; /* Убрать внутренний отступ текста */
    }
</style>

<div class="chat-container">
    @if (Model != null)
    {
        <div class="messages">
            @foreach (var message in Model.messages.OrderBy(m => m.Creation_Time))
            {
                <div class="message">
                    <div class="message-text">@message.Content</div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No messages here yet...</p>
    }
</div>