@model FlashApp.BLL.Models.ChatModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .chat-container {
        width: 100%; /* Ширина контейнера */
        height: 100%; /* Высота контейнера */
        display: flex; /* Использование Flexbox для выравнивания сообщений */
        flex-direction: column; /* Основная ориентация - вертикальная */
    }

        .chat-container h2 {
            text-align: center; /* Выравнивание текста по центру */
            background-color: #007bff; /* Цвет фона заголовка */
            color: white; /* Цвет текста заголовка */
            padding: 10px; /* Внутренний отступ заголовка */
        }

    .messages {
        flex-grow: 1; /* Занимать всю доступную высоту */
        overflow-y: auto; /* Включить вертикальную прокрутку, если сообщений много */
        padding: 10px; /* Внутренний отступ контейнера сообщений */
        display: flex; /* Использование Flexbox для выравнивания сообщений */
        flex-direction: column; /* Основная ориентация - вертикальная */
    }

    .message-text {
        margin: 0; /* Убрать внутренний отступ текста */
    }

</style>

<div class="chat-container">
    @if (Model != null)
    {
        <h2>Chat: @Model.Id</h2>
        <div class="messages">
            @foreach (var message in Model.messages.OrderBy(m => m.Creation_Time))
            {
                <div class="message">
                    <div class="message-text">@message.Content</div>
                </div>
            }
        </div>
    }
</div>